*
{
    padding: 0;
    margin: 0;
}

nav
{
    position: fixed;
    background-color: rgb(135, 235, 185);
    height: 70px;
    width: 100%;
    z-index: 1;
}

.logo
{
    font-size: 25px;
    position: relative;
    left: 5%;
    color: purple;
    font-weight: bold;
    line-height: 70px;
}

ul
{
    position: relative;
    float: right;
    margin-right: 20px; 
}


ul li
{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

ul li a
{
   text-decoration: none;
   color: purple;
   font-size: 17px; 
}

.main_img
{
   width: 100%;
   height: 600px; 
}

.section1
{
    padding-top: 7px;
}

.img_text
{
    position: absolute;
    top: 20%;
    left: 30%;
    color: purple;
    background-color: yellow;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 35px;
}

.welcome_img
{
    width: 100%;
    height: 250px;
}

.container
{
    padding: 70px;
}

.teacher
{
    width: 90%;
    height: 200px;
}

.label_text
{
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

.input_deg
{
    width: 30%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid violet;
}

.adm_int
{
    padding-top: 10px;
}


.input_txt
{
    width: 30%;
    height: 120px;
    border-radius: 25px;
    border: 1px solid violet;
}

#submit
{
    position: relative;
    width: 15%;
    left: 5%;
}

footer
{
    background-color: black;
    height: 70px;
    width: 100%;
}

.footer_txt
{
    text-align: center;
    color: white;
    top: 20%;
    position: relative;
}

.adm
{
    padding-top: 30px;
    padding-bottom: 30px;
}

.form_deg
{
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

.label_deg
{
    display: inline-block;
    color: purple;
    width: 100px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login_form
{
    background-color: skyblue;
    width: 400px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.title_deg
{
    background-color: purple;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.body_deg
{
    background-repeat: no-repeat;
    background-size: 150% 170%;
}


